<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
">

    <bean id="sessionBean"
          class="com.yaroma.SessionBean"/>
            
    <bean id="userService"
          class="com.yaroma.valuation.service.implementation.UserServiceImplementation"/>
    
    <bean id="customerService"
          class="com.yaroma.valuation.service.implementation.CustomerServiceImplementation"/>
    
    <bean id="softwareService"
          class="com.yaroma.valuation.service.implementation.SoftwareServiceImplementation"/>
       
    <bean id="statService"
          class="com.yaroma.valuation.service.implementation.StatServiceImplementation"/>

</beans>
